header {
    padding: 20px;
    background-color: #a0d2eb;
}

h1 {
    color: black;
}

.page-list ul {
    color: black;
    font-size: larger;
    background-color: #e5eaf5;
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 15px;
    border-radius: 20px;
}

