footer {
    padding: 30px 0px;
    background-color: #494d5f;
    color: #d0bdf4;
}

footer img {
    width: 3em;
    margin: 0% 1%;
}

footer img:hover{
    transform: scale(1.2);
}

footer li{
    list-style-type: none;
    text-decoration: none ;
    width:100%;
    margin:1% 0%;
    padding:0.1% 0%;
    font-size:1.em;
}

footer li a{
    text-decoration: none;
}

footer li a:hover{
    color: #8458b3 ;
}
